<div class="reveal {{@revealTheme}}" {{reveal markdown=@markdownText }}>
  <div class="slides">
    {{#if @markdownText}}
      <section data-markdown>
        <label>
          <textarea data-template>
            {{@markdownText}} 
          </textarea>
        </label>
      </section>
    {{else}}
      {{yield}}
    {{/if}}
  </div>
</div>
